/* =============================
    ~ BASE ELEMENT STYLES ~
================================ */


* {
  margin: 5px 5px;
  box-sizing: border-box;
  text-align: center;
}

.primary-content {
  background-color: #dedfe0;
  padding-right: 10px;
}
~~~~~~~~~~~/* START Styles of nav menu*/~~~~~~~~~~

.name {
	font-size: 1.25em;
  padding-bottom: 20px;
}

nav {
  content: normal;
  padding-top: 20px;
  padding-right: 25px;
}

.name,
.main-nav li {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  list-style-type: none;
    margin: 0;
    padding: 0;
	text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 2px;
}

.main-nav a {
	/*font-size: .95em;*/
	color: #f47f44;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #ddb71f;
  font-weight: bold;
  text-decoration: overline;
}
.name a,
.main-nav a {
	padding: 10px 15px;
	display: block;
}

.main-header p {
  color: black;
  text-shadow: white 1px 1px 15px;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-bottom: -10px;

}
~~~~~~~~~~~/* END Styles of nav menu*/~~~~~~~~~~

.portfolio {

  padding-top: 60px;
  margin: -50px;
}


.skills li {
  padding-right: 11px;
  margin-right: 25px;
  font-family: 'Roboto Condensed', sans-serif;
   list-style-type: none;
}

.skills li:nth-child(odd) {
  background-color: #bdf6e9;
}

.skills {
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.contact {
  margin-bottom: 50px;
}

.contact p {
  padding-bottom: 18px;
}

.contact h5 {
  padding-bottom: 30px;
}



p {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  padding-bottom: 14px;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  padding-bottom: 20px;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
}


h4 {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  padding-bottom: 20px;
}


h5 {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
}


img {
  display: inline-block;
  width: 100%;
}


/* ==============================
      ~  BASE LAYOUT STYLES ~
================================= */

.container {
 padding-left: 1em;
 padding-right: 1em;
}

.main-header {
  text-align: center;
  padding: 5px;
  background-image: url(../images/brickbackground.jpg);
  background-color: rgba(199, 199, 199, 0.85);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-position: relative;
  background-size: cover;
  box-sizing: border-box;
  margin-bottom: -1px;

}


.portfolio {
  margin-bottom: 50px;
  padding-top: 30px;
}


~~~~~~~~~~~/* START Styles of FOOTER*/~~~~~~~~~~

.main-footer {
   border-top-style: solid;

}


.main-footer {

  font-family: 'Fjalla One', sans-serif;
  border-top-style: solid;
  border-top-color: #dedfe0;
  border-top-width: 1px;
  padding-bottom: 7px;
}

.main-footer h5 {
  margin: auto;
  font-size: 17px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 10px;
  float: left;
}
.main-footer a {
  padding-top: 0px;
  padding-bottom: 10px;
  float: right;
  font-family: 'Fjalla One', sans-serif;

}
/* =============================
      ~  MEDIA QUERIES ~
================================ */


/*
@media (min-width: 768px) {
  .container{
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }
}
*/
